@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Roman-VF.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}

* {
  font-family: "Work Sans", sans-serif;
  transition: all 0.2s;

  &:focus {
    outline: none;
  }
}

html {
  font-size: 14px;

  @media screen and (min-width: 320px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1350px) {
    font-size: 20px;
  }
}

body {
  --text-color: black;
  --bkg-color: $light;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: black;
    --bkg-color: $light;
  }
}

body {
  background-color: var(--bkg-color);
  margin: 0;
  padding: 0;
}

body.dark-theme img {
  filter: brightness(0.8) contrast(1.2);
}

h1,
p,
q,
h5,
li,
a {
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
  margin: 0.8rem 0rem;
}

h5 {
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  @media screen and (max-width: 1350px) {
    line-height: 1.6rem;
  }
}

li {
  font-size: 1.2rem;
  line-height: 1.8rem;
  @media screen and (max-width: 1350px) {
    line-height: 1.6rem;
  }
}

q {
  font-size: 1.2rem;
  line-height: 1.8rem;
  @media screen and (max-width: 1350px) {
    line-height: 1.6rem;
  }
}

a {
  color: var(--text-color);
  font-weight: 400;

  &:active {
    color: var(--text-color);
  }
}
