@use "colors";

.font-thin {
  font-weight: 350;
  @media (prefers-color-scheme: dark) {
    body {
      font-weight: 300;
    }
  }
}

.font-normal {
  font-weight: 450;
  @media (prefers-color-scheme: dark) {
    body {
      font-weight: 400;
    }
  }
}

.font-bold {
  font-weight: 650;
  @media (prefers-color-scheme: dark) {
    body {
      font-weight: 550;
    }
  }
}

.color-black {
  color: black;
}

.color-dark {
  color: colors.$dark;
}

.white--text {
  color: colors.$light;
}

.black--text {
  color: black;
}

.dark--text {
  color: colors.$dark;
}

.grey--text {
  color: grey;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pr-1 {
  padding-right: 1rem;
  @media screen and (max-width: 1650px) {
    padding-right: 0.6rem;
  }
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.no-display-mobile {
  @media screen and (max-width: 1350px) {
    display: none;
  }
}

.no-display-desktop {
  @media screen and (min-width: 1351px) {
    display: none;
  }
}
