@use "_colors.scss";
@use "_styles.scss";
@use "_utilities.scss";
@use "_animations.scss";
@use "_loader.scss";

.main-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;

  @media screen and (max-width: 1350px) {
    grid-template-columns: 1fr;
  }

  .info {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    min-height: 80vh;
    max-height: 100vh;

    @media screen and (max-width: 1350px) {
      min-height: 50vh;
      padding: 1rem;
    }

    .profile picture img {
      margin-bottom: 1rem;
      border-radius: 50%;
      height: 8.5rem;
      width: 8.5rem;
    }

    .social-buttons {
      margin-top: 1rem;
      a {
        padding: 0.6rem;
        @media screen and (max-width: 1350px) {
          padding: 0.3rem;
        }
        img {
          width: 64px;
          @media screen and (max-width: 1350px) {
            width: 48px;
          }
        }
      }
    }

    .footer {
      position: absolute;
      bottom: 0;

      @media screen and (max-width: 1350px) {
        display: none;
      }
    }
  }

  .projects {
    min-height: 80vh;

    @media screen and (max-width: 1350px) {
      min-height: 100vh;
    }

    .carousel-cell {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .cell {
        width: 80%;
        height: 100%;
        padding: 1rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1350px) {
          width: 100%;
          padding: 1rem;
          flex-direction: column;
          justify-content: center;
        }

        .project-info {
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 1350px) {
            text-align: center;
            align-items: center;
          }
          .title {
            display: flex;
            justify-content: left;
            align-items: center;
            @media screen and (max-width: 1350px) {
              justify-content: center;
            }
          }
          .features {
            max-width: 90%;
            margin-top: 1rem;
            @media screen and (max-width: 1350px) {
              max-width: 100%;
              text-align: center;
            }
            ul {
              list-style-type: none;
              padding: 0.5rem;
              @media screen and (max-width: 1350px) {
                padding-top: 0;
                padding-bottom: 0;
              }
              li {
                line-height: 2rem;
                margin-top: 0.6rem;
                @media screen and (max-width: 1350px) {
                  line-height: 1.6rem;
                }
              }
              li:before {
                content: "-";
                position: absolute;
                margin-left: -15px;
              }
            }
          }

          .quotes {
            max-width: 80%;
            margin-top: 1rem;
            @media screen and (max-width: 1350px) {
              margin-top: 0;
            }
            q {
              line-height: 2rem;
            }
            a p {
              line-height: 2rem;
            }
          }
        }

        .image picture img {
          width: 14rem;
          @media screen and (max-width: 1350px) {
            width: 11rem;
          }
        }
      }
    }

    .flickity-viewport {
      min-height: 100vh;
    }

    .flickity-button {
      background: transparent;
    }

    .flickity-page-dots {
      bottom: 0px;
    }

    .flickity-page-dots .dot {
      width: 40px;
      height: 4px;
      opacity: 1;
      background: colors.$dark;
      border-radius: 0;
    }

    .flickity-page-dots .dot.is-selected {
      border: 2px solid colors.$purple;
      background: colors.$purple;
    }
  }
}

// Toggle
.btn-toggle {
  border: none;
  background: transparent;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;

  @media screen and (max-width: 1350px) {
    left: inherit;
    top: 1.5rem;
    right: 1.5rem;
  }
  img {
    width: 1.5rem;
  }
}
